<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>LOGIN</title>
    <style>
      body {
        background: url("/images/login.png");
      }
      /* .tombol {
        background-color: #f72585;
        color: white;
      } */
      /* .container {
        background-color: black;
      } */
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4 mt-3">
          <div>
            <img
              src="/images/logo.png"
              style="width: 150px"
              class="card-img-top ounded mx-auto d-block mb-2 mt-3"
              alt="logo ipb peduli"
            />
            <h1 class="text-center mb-4" style="font-family: 'Poppins'">
              <b>IPB PEDULI</b>
            </h1>
            <div class="card-body">
              <form action="/login" method="POST" autocomplete="off">
                <div class="mb-3 text-light">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="username"
                    required
                  />
                </div>
                <div class="mb-3 text-light">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    required
                  />
                </div>
                <div class="text-center">
                  <button class="border border-0 btn-lg btn-primary tombol">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
</html>
