<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="container">
          <img src="images/logo.png" alt="logo" height="60px" width="60px" />
        </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active ms-3 me-3" href="#">Riwayat</a>
            <a class="nav-link active ms-3 me-3" href="#">Tentang</a>
          </div>
          <a href="/new" class="btn btn-warning ms-5 me-5">Galang dana</a>
        </div>
      </div>
    </nav>

    <!-- jumbotron -->
    <div class="jumbotron mt-5 ms-5 me-5">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1>Tambah campaign</h1>
          <div class="form mt-5">
            <div class="form1 mb-5">
              <h7
                >Silahkan mengisi data di bawah ini untuk penggalangan dana</h7
              >
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Untuk siapa kamu menggalang dana?</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Nama penerima bantuan?</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Untuk apa penggalangan dana dilakukan?</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Nomor HP yang bisa dihubungi</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
            </div>

            <div class="form2 mb-5">
              <h7>Detail Penggalangan Dana</h7>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Silahkan masukan judul penggalangan danamu</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Perkiraan biaya yang dibutuhkan?</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >UDetail penggunaan biaya yang dibutuhkan?</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                />
              </div>
              <div class="input-group mt-1 mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                  >Jangka waktu penggalangan dana?</span
                >
                <input
                  class="form-control"
                  type="date"
                  value="2011-08-19"
                  id="example-date-input"
                />
              </div>
            </div>

            <div class="form3 mb-5">
              <h7>Silahkan isi deskripsi dan foto yang berkaitan </h7>
              <div class="form-group mb-3">
                <label for="exampleTextarea"
                  >Masukan deskripsi cerita penggalangan danamu</label
                >
                <textarea
                  class="form-control"
                  id="exampleTextarea"
                  rows="10"
                ></textarea>
              </div>

              <div class="form-group mb-3">
                <label for="exampleInputFile">Dokumentasi</label>
                <br />
                <input
                  type="file"
                  class="form-control-file"
                  id="exampleInputFile"
                  aria-describedby="fileHelp"
                />
              </div>
            </div>

            <div class="form4 mb-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" />
                  Saya setuju dengan Syarat dan Ketentuan yang berlaku di IPB
                  Peduli.
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
