.container .card .button{
    background-color: #A2D2FF;
    color: #A2D2FF;
}

nav{
    background-color: #A2D2FF;
}

.jumbotron2{
    background-color: #FFAFCC;
}

nav .navbar-nav a:hover{
    border: black;
}